.parent{
	background-color:#f0f2f5;
	height:100vh;
	width:100%;
	display:flex;
}
#child1{
	width:50%;
}
#child2{
	width:50%;
}
.a ,.b{
	height:22px;
	width:332px;
	padding-top:16px;
	padding-bottom:16px;
	padding-right:14px;
	padding-left:14px;
	border:1px solid #dddfe2;
	border-radius:6px;
	color:#9094b6;
	font-size:16px;
}

#log{
	height:48px;
	width:352px;
	padding:1px;
	margin-top:16px;
	background-color:#1877f2;
	color:white;
	border:none;
	border-radius:6px;
	font-size:24px;
	text-align:center;

}
#fb_form{
	background-color:#ffffff;
	margin-left:100px;
	margin-right:180px;
	margin-top: 150px;
	border-radius:6px;
	padding:12px;
	box-shadow:0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
	

}
#forgot{
	border:none;
	color:#1877f4;
	height:auto;
	width:auto;
	margin-left:110px;
	padding:1px;
}
#new{
	text-align:center;
	font-size:20px;
	color:white;
	background-color:#42b72a;
	padding:10px;
	border-radius:6px;
	border:none;
	margin-left:75px;
	height:40px;
	width:210px;
}
#logo{
	font-size:60px;
	color:#1877f2;
	font-weight:bold;
	margin-top:180px;
	margin-left:170px;
	font-family:Helvetica, Arial, sans-serif;
}
#introduction{
	font-size:28px;
	margin-left:170px;
	font-weight:55px;
	font-family:Helvetica, Arial, sans-serif;
	margin-top:-50px;
	color:#30434a;
	
}